:root {
  --md-primary-fg-color: #0075ff;
  --md-text-font: "Proxima Nova", sans-serif;
  --md-code-font: "Source Code Pro", monospace;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://fonts.cdnfonts.com/css/proxima-nova-2");
}
