/* Minimal styling aligned with the Polars API reference look. */
html[data-theme="light"] {
  --pst-color-on-background: #ecf4ff;
  --pst-gradient-sidebar-left: #ffffff;
  --pst-gradient-sidebar-right: #fbfbfb;
  --pst-color-border: #cccccc;
}

html[data-theme="dark"] {
  --pst-color-on-background: #333333;
  --pst-gradient-sidebar-left: #121212;
  --pst-gradient-sidebar-right: #181818;
  --pst-color-sidebar-nav: #181818;
  --pst-color-border: #444444;
}

div.bd-sidebar-primary {
  background-image: linear-gradient(
    90deg,
    var(--pst-gradient-sidebar-left) 0%,
    var(--pst-gradient-sidebar-right) 100%
  );
}

pre {
  box-shadow: 0 0.2rem 0.5rem var(--pst-color-shadow),
    0 0 0.0625rem var(--pst-color-shadow) !important;
}
